*{margin:0px;padding:0px;}
body{/*background:rgba(95, 219, 153, 0.12);*/overflow-x : hidden;}
div{
    float:left;

}
div >span{
    display:block;
    float:left;
    margin-top:5px;
    width:140px;
    margin-bottom:5px;
    margin-left:10px;
    padding-right: 30px;
    font-size: 15px;
    font-family: "微软雅黑";
}
input{
    width: 165px;
    height: 21px;
    border-radius: 5px;
}
.panel{
    /*  float:left; */
    margin-top:20px;
    margin-left:50px;
}
#cdpz1,#mix1_div{
    float:left;
    margin-top:50px;
    width: 120%;
    margin-left:40px;
}
#cdpz, #cdpz1, #tu2data,#divsql2,#data1,#data2,#data3,#tu3data,#tu4data,#tud1ata,#other,#other_1,#other_2,#other_3,#other_4,#other_5, #other_1_mix1,#other_2_jq,#other_1_jq,#other_2_mix1,#other_3_jq,#other_3_mix1,#other_4_jq,#other_4_mix1,#other_5_jq,#other_5_mix1,#real_time,#time_type{
    float:left;
    margin-top:10px;
    width: 100%;
    margin-left:130px;
    /*   text-align:center; */
}
#data_1_jqtwo,#data_2_jqtwo,#data_3_jqtwo{
    float:left;
    margin-top:10px;
    width: 120%;
    /*  margin-left:40px;*/
}
#divsql3,#divsql,#divsql1,#mix_divsql1,#divsql2_jqtwo,#divsql1_{
    text-align:center;margin-left:auto; margin-right:auto;
}
#divsql2,#mix1_btn,#btn_jqtwo{
    margin-left:560px;
}
#divsql{
    /*  margin-top:20px; */
    margin-right:30px;

}
#datasql3, #datasql1, #datasql2,#datasqlt1_jqtwo,#datasql2_jqtwo,#datasql3_jqtwo {
    clear: both;
}
#data1,#data2,#data3,#data_1_jqtwo,#data_2_jqtwo,#data_3_jqtwo{
    display:none;
}
#datasql3,#datasql1,#datasql2,#datasqlt1_jqtwo,#datasql2_jqtwo,#datasql3_jqtwo{
    clear:both;

}
#pmenuName0,#pmenuName1,#pmenuName1_jqtwo,#realtime,#timetype,#multime,#daynum{
    width:165px;
    height: 25px;
    font-size: 14px;
    font-family: "微软雅黑";
    border-radius: 5px;
}
h2{
    text-align:center;
    font-size: 25px;
    font-family: 'Microsoft YaHei', '微软雅黑', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    color: #F44336;
    margin-bottom:10px;
    margin-top:10px;
}
#btn1{
    height: 35px;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 15px;
    width: 90px;
    font-family: '微软雅黑';
    background: yellow;
    margin-bottom:10px;
}
div >span >select{
    width: 165px;
    height: 25px;
    font-size: 14px;
    font-family: '微软雅黑';
    border-radius: 5px;
    /*padding-left: 5px;*/
}
#tab_name_1_jq,#tab_name_2_jq,#tab_name_3_jq,#tab_name_4_jq,#tab_name_5_jq,#tab_option_col_1_jq,#tab_option_col_2_jq,#tab_option_col_3_jq,#tab_option_col_4_jq,#tab_option_col_5_jq{
    width: 150px;
    height: 25px;
    font-size: 14px;
    font-family: '微软雅黑';
}
#kind span .textbox-text{
    font-size: 14px;
    font-family: 'Microsoft YaHei', '微软雅黑', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    border-radius: 5px;
    /*padding-left: 9px;*/
    width:164px;
    height: 20px;
}
.textbox{
    border: 1px solid #f2f2f2;
}
div >span >span >input{
    font-size:14px;
    font-family: 'Microsoft YaHei', '微软雅黑', 'Lucida Grande', Verdana, Arial, Sans-Serif;
}

hr{
    height:2px;
    border:none;
    border-top:2px groove #3992D0;
    width:1090px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#comit1{
    float: left;
    margin-left: 430px;
    font-size: 23px;
    font-family: '微软雅黑';
    color: #F44336;
}
#comit2{
    float: left;
    margin-left: 430px;
    font-size: 23px;
    font-family: '微软雅黑';
    color: #F44336;
}
#comit3{
    float: left;
    margin-left: 430px;
    font-size: 23px;
    font-family: '微软雅黑';
    color: #F44336;
}
#title{
    text-align:center;
    font-size: 25px;
    font-family: 'Microsoft YaHei', '微软雅黑', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    color: #F44336;
    margin-bottom:10px;
    margin-top:10px;
    float: inherit;
}
textarea{
    width:900px;
    font-size:14px;
    font-family: 'Microsoft YaHei', '微软雅黑', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    margin-top:5px;
    margin-bottom:5px;
    border-radius: 5px;
    border: 2px solid #a0b3d6;
}
#title1 span input,#title2 span input,#title3 span input{
    width:280px  ! important ;
    height:28px;
}
#jqreportkind{
    height:26px;
}
#file_path{
    width:0px;
}
