body{/*background:rgba(95, 219, 153, 0.12);*/overflow-x : hidden;}
div{
    float:left;

}
div >span{
    display:block;
    float:left;
    margin-top:5px;
    width:165px;
    margin-bottom:5px;
    margin-left:10px;
    padding-right: 16px;
    font-size: 15px;
    font-family: 'Microsoft YaHei', '微软雅黑', 'Lucida Grande', Verdana, Arial, Sans-Serif;
}
input{
    width: 163px;
    height: 20px;
    border-radius: 5px;
}
.panel{
    margin-top:20px;
    margin-left:50px;
}
#cdpz1,#mix1_div{
    float:left;
    margin-top:50px;
    width: 100%;
    margin-left:40px;
}
#cdpz, #cdpz1, #tu2data,#divsql2,#data1,#data2,#data3,#tu3data,#tu4data,#tud1ata,#other,#mulTime,#maxmin_average,#other_1,#other_2,#other_3,#other_4,#other_5, #other_1_mix1,#other_2_jq,#other_1_jq,#other_2_mix1,#other_3_jq,#other_3_mix1,#other_4_jq,#other_4_mix1,#other_5_jq,#other_5_mix1,#real_time,#time_type,#mix1_div{
    float:left;
    margin-top:10px;
    width: 100%;
    margin-left:85px;
    font-size: 15px;
    font-family: 'Microsoft YaHei', '微软雅黑', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    margin-bottom: 10px;

}
#data_1_jqtwo,#data_2_jqtwo,#data_3_jqtwo{
    float:left;
    margin-top:10px;
    width: 120%;
    /*  margin-left:40px;*/
}
#divsql3,#divsql,#divsql1,#mix_divsql1,#divsql2_jqtwo,#divsql1_{
    text-align:center;margin-left:auto; margin-right:auto;
}
#divsql2,#mix1_btn,#btn_jqtwo{
    margin-left:560px;
}
#divsql{
    /*  margin-top:20px; */
    margin-right:30px;

}
#datasql3, #datasql1, #datasql2,#datasqlt1_jqtwo,#datasql2_jqtwo,#datasql3_jqtwo {
    clear: both;
}

#data1,#data2,#data3,#data_1_jqtwo,#data_2_jqtwo,#data_3_jqtwo{
    display:none;
}
#datasql3,#datasql1,#datasql2,#datasqlt1_jqtwo,#datasql2_jqtwo,#datasql3_jqtwo{
    clear:both;

}
#pmenuName0,#pmenuName1,#pmenuName1_jqtwo,#realtime,#timetype,#ispercent,#maxandmin,#average{
    width:165px;
}
h1{
    text-align:center;
    font-size: 25px;
    font-family: 'Microsoft YaHei', '微软雅黑', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    color: #0000cc;
    margin-bottom:10px;
    margin-top:10px;
}
#tab_name_1_mix1,#tab_name_2_mix1,#tab_name_3_mix1,#tab_name_4_mix1,#tab_name_5_mix1,#tab_option_col_1_mix1,#tab_option_col_2_mix1,#tab_option_col_3_mix1,#tab_option_col_4_mix1,#tab_option_col_5_mix1{
    width: 150px;
    height: 25px;
    font-size: 14px;
    font-family: '微软雅黑';
}
div >span >select{
    font-size: 14px;
    font-family: 'Microsoft YaHei', '微软雅黑', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    width: 165px;
    height: 25px;
    border-radius: 5px;
}
textarea{
    width: 950px;
    height: 80px;
    font-size: 15px;
    font-family: 'Microsoft YaHei', '微软雅黑', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    margin-left:10px;
    border-radius: 5px;
    border: 2px solid #a0b3d6;
}
.textbox_text{
    width:162px;
    height: 27px;
    font-size: 14px;
    font-family: 'Microsoft YaHei', '微软雅黑', 'Lucida Grande', Verdana, Arial, Sans-Serif;

}
.textbox{
    width:165px;
    height: 25px;
    font-size: 14px;
    font-family: 'Microsoft YaHei', '微软雅黑', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    border: 1px solid #f2f2f2;
}
div >span >span >input{
    font-size:14px;
    font-family: 'Microsoft YaHei', '微软雅黑', 'Lucida Grande', Verdana, Arial, Sans-Serif;
}
#mix_divsql1{
    margin-left: 80px;
}
#mix_divsql2{
    margin-left: 80px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#mix1_divsql_comit{
    margin-left: 80px;
}
#mix1_btn{
    height: 35px;
    margin-top: 10px;
    margin-left: 635px;
    font-size: 15px;
    width: 90px;
    font-family: '微软雅黑';
    background: yellow;
    margin-bottom:10px;
}
#mix1_timersql1{
    width: 950px;
    min-height: 80px;
    font-size: 15px;
    font-family: 'Microsoft YaHei', '微软雅黑', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    margin-left:0px;
    border-radius: 5px;
    border: 2px solid #a0b3d6;
    text-align: left;
}
#mix1_timersql2{
    width: 950px;
    min-height: 80px;
    font-size: 15px;
    font-family: 'Microsoft YaHei', '微软雅黑', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    margin-left:0px;
    border-radius: 5px;
    border: 2px solid #a0b3d6;
    text-align: left;
}
#mix1_comitmentarea{
    width: 950px;
    min-height: 80px;
    font-size: 15px;
    font-family: 'Microsoft YaHei', '微软雅黑', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    margin-left:0px;
    border-radius: 5px;
    border: 2px solid #a0b3d6;
    text-align: left;
}
#title{
    text-align:center;
    font-size: 25px;
    font-family: 'Microsoft YaHei', '微软雅黑', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    color: #F44336;
    margin-bottom:10px;
    margin-top:10px;
    float: inherit;
}
#mixreportkind{
    height:26px;
}
#file_Path{
    width:0px;
}
