<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.framework.demo.dao.sysUser.SysUserMapper">
<select id="findByUsername" parameterType="java.lang.Long" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from `sys_user`
    where `username` = #{username,jdbcType=BIGINT}
</select>
<select id="login" resultType="B">

</select>
</mapper>