<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.framework.demo.dao.sysRole.SysRoleMapper">

    <select id="findByUserId" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        `sys_role`
        WHERE id IN
        (SELECT
        role_ids
        FROM
        `sys_auth`
        WHERE user_id = #{id,jdbcType=VARCHAR})
    </select>

</mapper>