<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.framework.demo.dao.menu.MenuMapper">

    <select id="findMenuByUserId"  resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />   FROM
        menu
        LEFT JOIN sys_role_menu rm ON menu.id=rm.`menuid`
        LEFT JOIN sys_user_role ur ON  menu.id = rm.`menuid` and status=1
        WHERE ur.userid = #{id,jdbcType=INTEGER}  GROUP BY NAME
    </select>

    <select id="findNoFirestMenu" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM
        menu WHERE menu.parentId = 0 and status=1
    </select>
    <select id="findById" resultType="java.lang.String">
        select id from menu where name=#{name,jdbcType=VARCHAR} and status=1
    </select>
<update id="updateById" parameterType="com.framework.demo.bo.menu.Menu">
    update menu
    <set>
        <if test="name != null">
            `name` = #{name,jdbcType=VARCHAR},
        </if>
        <if test="path != null">
            `path` = #{path,jdbcType=VARCHAR},
        </if>
        <if test="sort != null">
            `sort` = #{sort,jdbcType=INTEGER},
        </if>
        <if test="status != null">
            `status` = #{status,jdbcType=VARCHAR},
        </if>
        <if test="updateTime != null">
            `update_time` = #{updateTime,jdbcType=VARCHAR},
        </if>
        <if test="createTime != null">
            `create_time` = #{createTime,jdbcType=VARCHAR},
        </if>
        <if test="createId != null">
            `create_id` = #{createId,jdbcType=INTEGER},
        </if>
        <if test="linkId != null">
            `linkId` = #{linkId,jdbcType=VARCHAR},
        </if>
        <if test="parentId != null">
            `parentId` = #{parentId,jdbcType=INTEGER},
        </if>
        <if test="templeteId != null">
            `templeteId` = #{templeteId,jdbcType=INTEGER},
        </if>
        <if test="parentIds != null">
            #{parentIds,jdbcType=INTEGER},
        </if>
    </set>
    where `id` = #{id,jdbcType=INTEGER}

</update>

    <select id="findBySearchable"   parameterType="cn.vansky.framework.core.orm.mybatis.plugin.search.vo.Sort" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from menu where 1=1
    </select>
    <select id="findActualResourceIdentity" parameterType="java.lang.String" resultType="java.lang.String">
        select identity from `menu` where id =#{id,jdbcType=BIGINT}

    </select>
</mapper>