<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.framework.demo.sys.sysRoleResourcePermission.dao.SysRoleResourcePermissionMapper">

    <select id="findByRoleIds" resultMap="BaseResultMap">
        select * from `sys_role_resource_permission` where `role_id` = #{roleId,jdbcType=BIGINT}
    </select>
</mapper>