<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
  <!--  <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="mapperLocations">
            <list>
                <value>classpath*:mapper/**/*Mapper.xml</value>
            </list>
        </property>
    </bean>-->
 <!--   <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="shawnTimeDataSource" />
        <property name="databaseIdProvider" ref="endorDatabaseIdProvider"/>
        <property name="configLocation" value="classpath:conf/sqlMapConfig.xml" />
        <property name="mapperLocations">
            <list>
                <value>classpath*:demo/**/*Mapper.xml</value>
            </list>
        </property>
    </bean>
    <bean name="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
        <property name="basePackage" value="com.framework.demo" />
        <property name="annotationClass" value="org.apache.ibatis.annotations.Mapper" />
        <property name="markerInterface" value=" org.mybatis.spring.mapper.MapperFactoryBean" />
    </bean>-->



</beans>

